# =========================================
# Python
# =========================================

# Virtual environments
venv/
.venv/
env/

# Python cache
**/__pycache__/
*.pyc

# Pytest
.pytest_cache/

# =========================================
# C# / .NET
# =========================================

# Build artifacts
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# =========================================
# Playwright
# =========================================

# Reports
playwright-report/
test-results/
blob-report/

# Screenshots / videos / traces
*.webm
*.zip

# =========================================
# IDEs
# =========================================

.vscode/
.idea/

# =========================================
# Logs / temp
# =========================================

*.log
*.tmp

# =========================================
# Secrets / env
# =========================================

.env
