# === PYTHON ===
# Віртуальні оточення
venv/
.venv/
env/
# Кеш компілятора Python
**/__pycache__/
*.pyc

# === C# / .NET ===
# Папки компіляції та бінарники
**/bin/
**/obj/
# Налаштування користувача Visual Studio
.vs/
*.user
*.suo

# === ЗАГАЛЬНЕ ===
# Налаштування VS Code (якщо потрібно ігнорувати)
.vscode/
# Логи
*.log